<mjml>
  <mj-body>    
    <mj-section padding-bottom="0">
    	<mj-column>
        <mj-image src="https://res.cloudinary.com/de97aemr0/image/upload/v1672929483/logo/nzg8wx3j8wlrycwbnwec.png"></mj-image>
      </mj-column>
    </mj-section>
    
    <mj-section background-color="#fff" padding-top="10">
      <mj-column>
        <mj-text align="justify" font-size="18px" font-family="helvetica">
        	Good Day! <br /><br />
					Forgot your account password? No worries! <br /><br />
          Your verification code is: {{verificationCode}}
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>